/* ---------   Main content Boxs   --------- */

#mainScreen {
    width: 350px;
    height: 700px;
    border: solid hotpink;
    background-color: rgb(32, 28, 48);
    display: flex;
    flex-direction: column;
}

#topScreen {
    width: 350px;
    height: 100px;
    border: chocolate;
    background-color: rgb(32, 28, 48);
    display: flex;
}

#mainText {
    width: 350px;
    height: 500px;
    border: silver;
    background-color: royalblue;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

#keyItems {
    width: 350px;
    height: 100px;
    border: dodgerblue;
    background-color: brown;
}

/* ---------   TOP Screen   --------- */

#face {
    width: 60px;
    height: 90px;
    background-color: salmon;
}

#nameDots {
    width: 170px;
    height: 90px;
    background-color: fuchsia;
}

#settingStats {
    width: 120px;
    height: 90px;
    background-color: yellowgreen;
}

/* ---------   Middle Screen   --------- */

.txtingB {
    width: 330px;
    margin-left: 10px;
    margin-right: 10px;
}