/* ---------   Main content Boxs   --------- */

#mainScreen {
    width: 350px;
    height: 700px;
    border: solid hotpink;
    background-color: rgb(32, 28, 48);
    display: flex;
    flex-direction: column;
}

#topScreen {
    width: 350px;
    height: 100px;
    border: chocolate;
    background-color: rgb(32, 28, 48);
    display: flex;
}

#mainText {
    width: 350px;
    height: 500px;
    border: silver;
    background-color: royalblue;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

#keyItems {
    width: 350px;
    height: 100px;
    border: dodgerblue;
    background-color: brown;
}

/* ---------   TOP Screen   --------- */

#face {
    width: 60px;
    height: 90px;
    background-color: salmon;
    background-image: url(/ching-yeh-head.jpg);
    background-size: 100% 100%;
}

#youN {
    width: 150px;
    border: solid thin whitesmoke;
    background-color: rgb(24, 21, 36);
    color: honeydew;
    margin-left: 2px;
}

#nameDots {
    width: 170px;
    height: 90px;
    /* background-color: fuchsia; */
}

#settingStats {
    width: 120px;
    height: 90px;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
}

#scrollSetting {
    width: 110px;
    height: 25px;
    background-color: rosybrown;
    align-self: center;
    margin-top: 3px;
    margin-bottom: 1px;
}

#actualStats {
    display: flex;
    flex-wrap: wrap;

}

.statButtonsIm {
    width: 20px;
    height: 20px;
    background-color: tomato;
    margin-top: 2px;
    margin-left: 2px;
}

/* ---------   Middle Screen   --------- */

#txtingB {
    width: 330px;
    margin-left: 10px;
    margin-right: 10px;
}